@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Remove default styling */
*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}


h1, h2 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 4px;
    font-weight: 400;
    color: #252525;
}

.header2 {
    text-align: left;
    padding: 20px 0;
   /* margin: 20px 0; */
    font-size: 250%;
    font-weight: 400;
}


#main-logo {
    font-family: Montserrat, sans-serif;
    margin-left: 30px;
    font-size: 300%;
    color: chocolate;
    text-align: left;
    float: left;
    text-transform: uppercase;
}

#main-nav {
    font-size: 100%;
    letter-spacing: 2px;
    float: right;
}

#main-nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

#main-nav a {
    padding: 5px 5px;
    text-decoration: none;
    color: chocolate;
}

#main-nav, #main-logo {
    line-height: 75px;
}

#main-nav a:hover {
	color: #718daa;
    text-decoration: underline;
}

#main-logo a:hover {
    color: #718daa;
    text-decoration: underline;
}

#main-image-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-image1 {
    
    width: 100%;
    Height: 100vh;
    min-height: 600px;
    display: block;
    background-size: 150% auto;
    background: url('/assets/images/budapest-lead.jpg') no-repeat center center;
}

#main-image2 {
    height: 600px;
    width: 100%;
    background: url('/assets/images/visit_budapest.webp') no-repeat center left;
}

#main-image3 {
    height: 600px;
    width: 100%;
    background: url('/assets/images/szechenyi-bath3.jpg') no-repeat center center;
}

#main-caption1 p {
     font-size: 150%;
     bottom: 6.25rem;
     left: 4rem;
     position: absolute;
     color: beige;
}

.places-row {
    display: flex;
    text-align: center;
  }

.places-column {
    flex: 33.33%;
    padding: 20px;
    margin: 20px 40px;
    text-decoration: none;
  }

/* @media (max-width: 991px)

 .small-image {
    margin:0;
}



#main-header {
    padding-top: .5em;
	padding-bottom: .5em;
    background-color: #fafa;
    -webkit-box-shadow: 0px 0px 14px 0px
}

 
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

/* navigation bar */

/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */


/*.main-navbar {
    margin-top: 5px;
}

.main-logo a, .main-navbar a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: right;
	display: block;
    color: #34495e;
	font-size: .99em;
}



#index-image {
    width: 100%;
    border: 0;
    position: relative;
    overflow: auto;
}
*/
